.footer {
  min-height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #2e0a50;
  
}

.footer h1 {
  color: aliceblue;
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .footer h1 {
    font-size: 2rem;
    
  }
  .footer {
    align-items: flex-end;
  }
}